{
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "extends": ["airbnb", "plugin:react-native/all"],
  "plugins": ["react", "react-native"],
  "env": { "jest": true },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".js"]
      }
    ],
    "import/prefer-default-export": "off",
    "global-require": "off",
    "no-console": "off",
    "semi": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "camelcase": ["error", {"properties": "never"}],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react-native/no-raw-text": "off"
  },
  "globals": {
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {}
    }
  }
}
