{
  "env": {
    "jest": true
  },
  "extends": ["airbnb", "plugin:react-native/all"],
  "globals": {
    "__DEV__": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-native"],
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "global-require": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "react-native/no-raw-text": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".js"]
      }
    ],
    "semi": ["error", "never"]
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {}
    }
  }
}
